version: '3.8'

services:
  server:
    build:
      context: .
      dockerfile: ./apps/server/Dockerfile
    ports:
      - "8080:8080"
    env_file:
      - ./apps/server/.env
    networks:
      - nocap-network
    restart: unless-stopped

  web:
    build:
      context: .
      dockerfile: ./apps/web/Dockerfile
    ports:
      - "3005:3005"
    env_file:
      - ./apps/web/.env
    depends_on:
      - server
    networks:
      - nocap-network
    restart: unless-stopped

networks:
  nocap-network:
    driver: bridge
